.Carousel-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}
.Caorusel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}
.Carousel-h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
.Carousel-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Carousel-cities{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  10px 20px;
}

.Carousel-citiesName{
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    
}
.Carousel-box{
    height: 33vh;
    width: 30vw;
}
a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .Carousel-box{
        height: 30vh;
        width: 60vw;
    }
    .Carousel-container{
      padding: 0;
      margin: 0;
    }
    .Carousel-citiesName{
        margin: 10px 0px;
        font-size: 22px;
        
    }
    .Carousel-h2{
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }
}
@media (max-width: 425px) {
    .Carousel-box{
        height: 24vh;
        width: 60vw;
    }
    .Carousel-h2{
        text-align: center;
        font-size: 20px;
        margin: 20px;
    }
}

@media (max-width: 320px) {
    .Carousel-box{
        height: 20vh;
        width: 58vw;
    }
    .Carousel-h2{
        text-align: center;
        font-size: 18px;
        margin: 20px;
    }
}