.Comment-container{
    /* background-color: red;  */
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: 0.5rem;
}
.Comment-user{
    /* background-color: blueviolet; */
    width: 20%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-weight: bold;
    
}
.Comment-containerimg{
    height: 4rem;
    width: 4rem;

    margin: 1rem;
    object-fit: cover;
}
.Comment-img{
    border-radius: 50%;
    width: 100%;
}
.Comment-p{
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    border-radius: 12px;
    padding: 28px;
    resize: none;
    height: 100%;
}
.Comment-h3{
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.Comment-full{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Comment-Button{
    border: 0px;
    padding: 8px;
    border-radius: 5px;
    margin: 20px 0px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.Comment-andButton{
    display: flex;
    gap: 50px;
    height: 100%;

}

.Comment-ButtonContainer{
    display: flex;
    flex-direction: column;
}
.Comment-form{
    width: 100vw;
}

.Comment-textarea{
    width: 380px;
    height: 120px;
    resize: none;
    font-size: 20px;
}


@media (max-width: 768px) {
    .Comment-container{
        width: 80vw;   
    }
    .Comment-andButton{
        display: block;
        width: 80%;
        flex-direction: column;
        gap: 5px;
    }
    .Comment-ButtonContainer{
        display: flex;
        flex-direction: row;
    }
    .Comment-form{
        width: 90%;
    }
    .Comment-p{
        height: 60%;
    }
}
@media (max-width: 425px) {
    .Comment-container{
    width: 90vw;
    height: 26vh;
}
.Comment-Button{
    border: 0px;
    padding: 4px;
    border-radius: 5px;
    margin: 12px 0px;
    height: 36px;
    width: 80px;
    cursor: pointer;
}
.Comment-containerimg{
    margin: 0;
    padding: 0 5px;
}
}